.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    // align-items: inherit;
    // text-align: start;
  }

  @media (min-width: 900px) {
    align-items: inherit;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    padding-left: 160px;
    padding-right: 70px;
  }

  &Content {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      height: auto;
      align-items: flex-start;
      text-align: start;
      width: 50%;
      // flex-grow: ;
    }

    @media (min-width: 1200px) {
      height: auto;
    }
  }

  &Title {
    font-family: SFproSemiBold;
    font-size: 40px;
    margin-bottom: 20px;

    @media (min-width: 480px) {
      font-size: 46px;
    }

    @media (min-width: 1200px) {
      font-size: 50px;
    }
  }

  &SubTitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &Location {
    font-family: SFproMedium;
  }

  &Photo {
    display: flex;
    align-items: flex-end;

    @media (min-width: 500px) {
      width: 420px;
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 900px) {
      justify-content: flex-end;
    }

    @media (min-width: 1020px) {
      width: 70%;
    }
  }
}
