@font-face {
  font-family: SFproRegular;
  src: url(../../assets/fonts/SF-Pro-Display-Regular.woff);
}
@font-face {
  font-family: SFproMedium;
  src: url(../../assets/fonts/SF-Pro-Display-Medium.woff);
}
@font-face {
  font-family: SFproSemiBold;
  src: url(../../assets/fonts/SF-Pro-Display-Semibold.woff);
}